.new-request-content {

    .new-request-wrapper {
        margin: 15px;
        background: #d8d8d8;
        border: 3px solid lightslategrey;
        border-top: 25px solid lightslategrey;
        border-radius: 15px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    }
}

#requestForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;

    .form-group > * {
        margin: 0 10px;
        box-sizing: border-box;
    }

    .category {
        select {
            font-weight: bold;
            border: none;
            background: inherit;
            cursor: pointer;
        }

        option {
            background: #d8d8d8;
        }
    }

    .place {
        input {
            font-weight: bold;
            text-align: center;
            padding: 3px 5px 3px;
            border: lightslategrey 1px solid;
            border-radius: 15px;
        }

        input::placeholder {
            font-weight: bold;
            color: black;
        }

        input:focus {
            width: auto;
        }

        input:valid {
            text-align: left;
            border: none;
            background: inherit;
        }
    }

    .description {
        display: flex;
        flex-direction: column;

        textarea {
            margin-top: 10px;
            padding: 10px 15px 10px;
            border: lightslategrey 2px solid;
            border-radius: 15px;
            width: calc(100% - 20px);
            resize: vertical;
            min-height: 450px;
            font-size: 16px;
        }
    }

    .files {
        display: flex;
        flex-direction: row;

        .files-label {
            background: #d8d8d8;
            border: 2px solid lightslategrey;
            border-radius: 10px;
            color: black;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            padding: 5px 10px;
            text-align: center;
        }

        .files-label:hover {
            border: 2px solid black;
            transition: 0.4s ease-in-out;
        }

        input {
            margin: 0;
            padding: 0;
            height: 0;
            width: 0;
        }

        .files-list {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .submit-btn {
        position: relative;
        margin-left: auto;
        text-align: center;
        width: 200px;
        background: lightslategrey;
        border: 2px solid lightslategrey;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
    }
    .submit-btn:hover {
        border: 2px solid black;
        transition: 0.4s ease-in-out;
    }
}
