{% extends 'header.html' %}
{% load static %}

{% block title %} Новый тест {% endblock %}

{% block styles %}
    <link href="{% static '/css/new_request.css' %}" rel="stylesheet">
{% endblock styles %}

{% block body %}
<div class="new-request-content">
    <div class="new-request-wrapper">
        <form method="post" id="requestForm">
            {% csrf_token %}

            <div class="form-group category">
                <label>Проблема:</label>
                <select name="category" required>
                    <option value="">Выберите категорию</option>
                    <option value="PRINTER">Принтер</option>
                    <option value="SOFTWARE">Программа</option>
                    <option value="HARDWARE">Компьютер</option>
                    <option value="ETC">Другое</option>
                </select>
            </div>

            <div class="form-group place">
                <label>Где проблема:</label>
                <input type="text" name="request_text" placeholder="..."  required>
            </div>

            <div class="form-group description">
                <label>Описание проблемы:</label>
                <textarea name="request_text" rows="15" placeholder="..."></textarea>
            </div>

            <div class="form-group files">
                <label>Доп. файлы:</label>
                <input name="request_text" type="file" accept="image/*" multiple>
            </div>

            <button type="submit">Создать заявку</button>
        </form>
    </div>
</div>
{% endblock %}