{% extends 'header.html' %}
{% load static %}

{% block title %} Заявки {% endblock %}

{% block styles %}
    <link href="{% static '/css/requests.css' %}" rel="stylesheet">
{% endblock styles %}

{% block body %}
<div class="requests-content">
    {% if not requests %}
<!--        <div class="errors-container">-->
<!--            <p class="error-message"> Нет заявок</p>-->
<!--        </div>-->
    {% else %}
        <div class="requests-wrapper">
            {% for request in requests %}
                {% if request.category == 'PRINTER' %}
                <div class="request-wrapper printer">
                {% elif request.category == 'SOFTWARE' %}
                <div class="request-wrapper software">
                {% elif request.category == 'HARDWARE' %}
                <div class="request-wrapper hardware">
                {% elif request.category == 'ETC' %}
                <div class="request-wrapper etc">
                {% endif %}
                    <div class="request-header">
                        <span class="request-time">
            {{ request.request_date|date:"d.m.y" }} | {{ request.request_date|time:"H:i" }}
                        </span>
                        <span class="request-from">{{ request.sender.full_name }}</span>
                        <span class="request-place">{{ request.place }}</span>
                        {% if user.worker.role == 'admin' %}
            <div class="complete-btn-wrapper"><button class="complete-btn">Выполнить</button></div>
            <div class="reject-btn-wrapper"><button class="reject-btn">Отклонить</button></div>
                        {% elif request.sender == user.worker %}
            <div class="reject-btn-wrapper"><button class="reject-btn">Отозвать</button></div>
                        {% endif %}
                        <div class="request-status">{{ request.get_status_display }}</div>
                    </div>


                    <div class="request-body">
                        <span class="request-category">{{ request.get_category_display }}</span>
                        <span class="request-text">{{ request.request_text|truncatechars:'100' }}</span>
                        <span class="request-details-btn" id="details_{{ request.id }}">Подробнее</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {%endif %}
    <div id="request-details-popup" style="display:none;">
        <div class="request-details-wrapper">
            <div class="request-details-header">
                <span class="request-details-category"></span>
                <span class="request-details-time"></span>
                <span class="request-details-sender"></span>
                <span class="request-details-place"></span>
                {% if user.worker.role == 'admin' %}
                    <div class="complete-btn-wrapper"><button class="complete-btn details-btn">Выполнить</button></div>
                    <div class="reject-btn-wrapper"><button class="reject-btn details-btn">Отклонить</button></div>
                {% elif request.sender == user.worker %}
                    <div class="reject-btn-wrapper"><button class="reject-btn details-btn">Отозвать</button></div>
                {% endif %}
                <div class="request-details-status"></div>
            </div>
            <div class="request-details-body">
                <span class="request-details-text"></span>
            </div>
            <div class="request-details-files">
                <div class="request-details-images"></div>
                <div class="request-details-docs"></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/scripts/request_details.js' %}"></script>
{% endblock %}