{% extends 'header.html' %}
{% load static %}

{% block title %} Регистрация {% endblock %}

{% block styles %}
    <link href="{% static '/css/login.css' %}" rel="stylesheet">
{% endblock styles %}

{% block body %}
<div class="login-content">
    <form class="login-form" method="post">
            {% for error in errors %}
                    <div class="error">{{ error }}</div>
            {% endfor %}

        {% csrf_token %}
        <label>Ваше имя:</label>
        <input type="text" name="full_name" required>
        <label>Пароль:</label>
        <input type="password" name="password" required>
        <label>Повторите пароль:</label>
        <input type="password" name="password_confirmation" required>
        <input class="submit-btn" type="submit" value="Зарегистрироваться">
    </form>
</div>
{% endblock %}